body{
    background-color: rgb(230, 230, 230);
    background-size: cover;
    background-attachment: fixed;
}

.navbar-brand{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.nav-link{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

nav.navbar-transparent{
    background: rgba(0, 0, 0, 0.741)
}